body{
    background-color: rgb(16, 24, 40);
}

.title{
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

a:link{
    color: rgb(109, 109, 239);
}

.links{
    font-size: large;
    font: sans-serif, arial;
}